@media(max-width:767px){
    html{
        font-family: "Noto Sans KR", sans-serif;
        font-size: 12px;
    }
    .inner_content{
        width: 87%;
        margin: 0 auto;
    }
    .wrap{
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .pcHeader, .tabHeader{display: none;}
    .pcHeader>.top, .pcHeader>.bottom{display: none;}

    .moHeader{
        border-bottom: 1px solid #ffaf01;
        padding: 10px 0;
    }
    .moHeader .inner_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .moHeader .menu_bar_open{
        background: url(../img/8.menubar_black.svg) no-repeat 50% 50% / cover;
        display: block;
        width: 25px;
        height: 25px;
        transform: translateX(20px);
    }
    .moHeader_menu{
        z-index: 1000;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0, 0.9);
        color: rgba(255, 255, 255);
        box-sizing: border-box;
        padding: 30px 15px;
        transition: all 0.7s ease 0s;
        transform: translateX(100%);
    }
    .moHeader_menu.on{transform: translateX(0);}
    .logo{
        width: 150px;
        padding-top: 10px;
    }
    .lnb{
        box-sizing: border-box;
        display: flex;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
        font-size: 14px;
    }
    .lnb>li:first-of-type{
        padding-right: 20px;
    }
    .lnb>li:last-of-type{
        margin-left: auto;
    }
    .lnb>li:last-of-type>a{
        display: block;
        width: 16px;
        height: 16px;
    }
    .lnb a:hover{color: #FFAF01;}
    .gnb{
        padding-top: 20px;
    }
    .gnb>li{
        width: 190px;
        position: relative;
        font-size: 18px;
    }
    .gnb>li>a{
        display: flex;
        align-items: center;
        height: 50px;
    }
    .gnb>li>ul{
        color: #fff;
        position: absolute;
        left: 160px;
        top: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.7s ease 0s;
    }
    .gnb>li:hover>ul{
        opacity: 1;
        pointer-events: auto;
    }
    .gnb>li>ul>li>a{
        display: block;
        width: 190px;
        height: 40px;
        line-height: 40px;
    }
    .gnb a:hover{
        color: #FFAF01;
        font-weight: bold;
    }

    /* 메인배너 */
    .main_banner{display: none;}
    .mobileMain{
        padding: 20px 0;
    }
    .mobileMain_station{
        margin: 0 auto;
    }
    .mobileMain_station.swiper{
        width: calc(276px * 1.5);
        height: 403px
    }
    .mobileMain_train{
        transition: all 0.7s ease 0s;
    }
    .mobileMain_train.swiper-wrapper>li{
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }
    .mobileMain_train.swiper-wrapper>li>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease 0s;
        filter: brightness(0.7);
    }
    .mobileMain_train.swiper-wrapper>li:hover img{
        transform: scale(1.1);
        filter: brightness(0.9);
    }
    .mobileMain_train .txtframe{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
        width: 220px;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%,-70%);
    }
    .mobileMain_train .txtframe h4{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 32px;
    }
    .mobileMain_train .txtframe p{
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        word-break: keep-all;
    }
    .mobileMain_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EF6900;
        border-radius: 100px;
        padding: 5px 0;
        width: 120px;
        font-size: 14px;
    }
    .mobileMain_btn:hover{
        background: #fff;
        color: #EF6900;
    }

    /* 2섹션 탭메뉴 */
    .tab_top h4{
        padding: 50px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }
    .tab_menu{
        box-sizing: border-box;
        width: 270px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        flex-wrap: wrap;
        margin: 0 auto 15px auto;
    }
    .tab_menu>li{
        background: #EFEEED;
        border-radius: 70px;
        text-align: center;
        padding: 8px 0;
        width: 120px;
        margin-bottom: 15px;
    }
    .tab_menu>li.on{
        background: #FFAF01;
        color: #fff;
        font-weight: 500;
    }
    .tab_menu>li:hover{
        background: #FFAF01;
        color: #fff;
        font-weight: 500;
    }
    .tab_station{
        width: 100%;
        height: 320px;
    }
    .tab_train{
        height: 100%;
        width: 100%;
        position: relative;
    }
    .tab_train>li{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: all 0.7s ease 0s;
    }
    .tab_train>li.on{
        opacity: 1;
    }
    .tab_banner{width: 100%;}
    .tab_banner .txtframe{
        padding-left: 20px;
        padding-bottom: 15px;
        position: relative;
    }
    .tab_banner .txtframe:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: -15px;
        width: 100%;
        height: 15px;
        background: #fff;
        border-radius: 15px 15px 0 0;

    }
    .tab_banner .txtframe h6{
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .tab_banner .txtframe p{width: 200px;}
    .tab_btn{display: none;}
    .tab_txt{
        position: relative;
        box-sizing: border-box;
        border-top: 1px solid #ffaf01;
        width: 80%;
        font-size: 14px;
        font-weight: 500;
        padding-top: 15px;
        margin-left: 20px;
    }
    .tab_txt::before{
        content: "";
        position: absolute;
        right: -6px;
        top: -4px;
        width: 5px;
        height: 5px;
        border-radius: 100px;
        border: 1px solid #ffaf01;
    }
    .tab_txt p{display: flex;}
    .tab_txt span{
        color: #FFAF01;
        font-weight: 700;
        margin-left: auto;
    }
    
    
    /* 3섹션 후원 슬라이드 */
    .support{margin-bottom: 20px;}
    .sup_top{
        width: 70%;
        margin: 0 auto;
    }
    .sup_top>img{
        transform: translateY(5px);
    }
    .sup_txt{
        width: 220px;
        margin: 0 auto;
        text-align: center;
    }
    .sup_txt h4{
        font-size: 16px;
        font-weight: 700;
    }
    .sup_txt>p , .sup_ctg{display: none;}
    .support .support_bottom{display: none;}
    .mobile_support_bottom .sup_station{
        margin: 20px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile_support_bottom .sup_train{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .mobile_support_bottom .sup_train>li{
        flex: 1;
        box-sizing: border-box;
        text-align: center;
        margin: 15px auto;
    }
    .mobile_support_bottom .sup_train img{
        width: 40px;
        height: 40px;
    }
    .mobile_support_bottom .sup_train h6{
        font-size: 16px;
        margin-bottom: 10px;
        color: #FFAF01;
        font-weight: 500;
    }
    .mobile_support_bottom .sup_train p{
        width: 200px;
        margin: 0 auto;
    }
    .mobile_support_btn{
        display: flex;
        width: 120px;
        height: 30px;
        box-sizing: border-box;
        padding: 5px 10px;
        background: #ffaf01;
        border-radius: 50px;
        color: #fff;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .support_viewer{display: none;}



    /* 4섹션 슬라이드 */
    .news{display: none;}
    .moNews{margin-bottom: 30px;}
    .moNews h4{
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        padding: 25px 0;
    }
    .moNews_station{
        width: calc(276px * 1.5);
        height: 403px;
        margin: 0 auto;
    }
    .moNews_train{
        transition: all 0.8s ease 0s;
    }
    .moNews_train>li{
        border-radius: 15px;
        border: 1px solid rgb(170, 170, 170);
        background: #fff;
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        justify-content: space-around;
    }
    .moNews_train .txtframe{
        margin-top: 15px;
        width: 200px;
    }
    .moNews_train .txtframe .news_ctg{
        color: #FFAF01;
        margin-bottom: 15px;
        font-weight: 500;
    }
    .moNews_train .txtframe h5{
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .moNews_train .txtframe p:last-of-type{
        width: 180px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .moNews_train img{width: 200px;}
    .news_btn{
        border: 1px solid #FFAF01;
        border-radius: 50px;
        padding: 5px 15px;
        width: 80px;
        color: #FFAF01;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    .news_btn:hover{
        border: none;
        background: #ffaf01;
        color: #fff;
    }


    /* 5섹션 콘텐츠 */ 
    .pcContents{display: none;}
    .tabContents{
        width: 100%;
        background-color: rgba(255, 246, 226, 0.4);
    }
    .tabContents .inner_content{
        padding: 25px 0;
    }
    .tabContents h4{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .banner_train>li{
        width: 360px;
        height: 220px;
        border-radius: 15px;
        background: #fff;
        border: 1px solid rgba(58, 58, 58, 0.2);
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .contents_ctg{
        color: #ffaf01;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .banner_train .txtframe h5{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .banner_train .txtframe p{
        margin-bottom: 15px;
    }
    .banner_train img{
        display: none;
    }
    .contents_btn{
        border: 1px solid #FFAF01;
        border-radius: 50px;
        padding: 5px 15px;
        width: 80px;
        color: #FFAF01;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contents_btn:hover{
        border: none;
        background: #ffaf01;
        color: #fff;
    }
    .banner_train .txt_title{
        color: #FFAF01;
        font-weight: 600;
        font-size: 16px;
    }
    .userInfo{
        display: flex;
        justify-content: space-between;
    }
    .userName,.userMail{
        border: none;
        border-bottom: 1px solid #ccc;
        background: #fff;
        color: rgba(51, 51, 51);
        box-sizing: border-box;
        padding-bottom: 5px;
    }
    .userName{width: 120px;}
    .userMail{width: 200px;}
    .txt_title+p{font-size: 16px;}

    /* footer */
    footer{
        border-top: 1px solid #333;
        font-size: 12px;
    }
    footer .inner_content{
       padding: 30px 0;
    }
    .foot_menu{
        display: flex;
        color: #282828;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .foot_menu>li{margin-right: 15px;}
    .foot_info{
        color: #727272;
        display: flex;
    }
    .foot_info>ul{
        margin-right: 20px;
    }
    .foot_info>ul:last-of-type{margin-right: 0;}
    .foot_info li{
        padding: 5px 0;
    }
    .copy{
        margin-top: 15px;
    }
    .foot_logo{
        margin: 25px auto 0 auto;
        width: 100px;
        height: 25px;
    }
    .foot_logo>img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }





}

